@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css');
.App {
    text-align: center;
    font-family: 'Poppins', sans-serif !important;
    overflow: hidden !important;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body::-webkit-scrollbar {
    display: none;
}

.bg-wallet {
    background-color: #FCFCFC!important;
}

.bg-lighter {
    background-color: #f2f3f4 !important;
    /* background: -webkit-linear-gradient(right, #f2f3f4, rgba(255, 255, 255, 0.626), #f2f3f4); */
}

.modals {
    border-top: 10px solid #ffb85c;
}

.modals-left {
    border-left: 5px solid #ffb85c;
}

.scroll-y {
    overflow-y: auto !important;
    scroll-behavior: smooth !important;
    position: relative !important;
    height: 80vh !important;
}

.scroll-y2 {
    overflow-y: auto !important;
    scroll-behavior: smooth !important;
    position: relative !important;
    height: 70vh !important;
}

.scroll-y3 {
    overflow-y: auto !important;
    scroll-behavior: smooth !important;
    position: relative !important;
    height: 40vh !important;
}

.side-bar {
    width: 35% !important;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    align-items: center !important;
}

.icon-padding {
    padding: 5px;
}

.side-barsy {
    width: 35% !important;
    padding-top: 10% !important;
    padding-bottom: 10% !important;
    align-items: center !important;
}

.my-modal {
    margin-top: 4% !important;
    max-width: 40% !important;
    border-radius: 25% !important;
    padding: 0% !important;
}

[title="twitt"]::before {
    content: '\f099';
    font-family: "Font Awesome 6 brands";
    font-weight: 400;
}

.my-modal1 {
    margin-top: 4% !important;
    max-width: 30% !important;
    border-radius: 25% !important;
    padding: 0% !important;
}

.tab-nav {
    cursor: pointer;
}

.account:hover {
    background-color: #252859 !important;
    color: #ffb85c;
    cursor: pointer;
}

.isActive {
    background-color: #252859 !important;
    color: #ffb85c;
    cursor: pointer;
    border: 1px #ffb85c !important;
}

.res-home p {
    font-size: small;
}

.rounded-down {
    border-radius: 0 0 5% 5%;
}

.pic {
    position: fixed;
    z-index: 1;
}

.wide {
    width: 80%;
}

.wider {
    width: 90%;
}

.wide-40 {
    width: 45%;
}

.wide-60 {
    width: 65%;
}

.x-small {
    font-size: x-small !important;
}

.blue-dark {
    background-color: #252859 !important;
    color: whitesmoke !important;
}

.blue-darks {
    background: -webkit-linear-gradient(right, #161735f3, #161836f4), url("images/Group\ 3577.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke !important;
}

.peach {
    background-color: #ffefdb !important;
    color: #282c34 !important;
}

.top {
    margin-top: 8px;
}

.bg-text {
    background-color: #f7a335 !important;
}

.grey-text {
    color: #8989898b;
}

.grey-back {
    background-color: #fafafa;
}

.activeTab {
    color: #ff9215 !important;
}

.activeTab1 {
    background-color: #ff8b10 !important;
    color: #252859;
}


/* .theForm {
    background-image: url("https://img.freepik.com/free-vector/strategic-consulting-concept-illustration_114360-8994.jpg?w=740&t=st=1678295724~exp=1678296324~hmac=d43819b5a3fbe5776cd679d2f5d57cde36a046d1ee3ec3decf5cd0f54370c9b9");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 50%;
} */

.sacco {
    background-image: url("images/_.jpeg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 30%;
}

.dollar {
    background-image: url("images/depo.png") !important;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 30%;
}

.light {
    background-color: rgba(255, 255, 255, 0.637) !important;
}

.light-res-home {
    background-color: #fafafa1f;
}


/* .lighter {
    background-image: -webkit-linear-gradient(top, #1d2565ae, #ff353535);
    background-clip: text;
    color: transparent !important;
    cursor: pointer !important;
} gives gradient text */

.lightest {
    background-color: rgba(255, 255, 255, 0.805);
}

.border-active {
    border: 1px soild #f7a335 !important;
}

.rounded-25 {
    border-radius: 15px !important;
}

.active {
    color: #ff9100 !important;
    cursor: pointer !important;
    border-color: #ff9100 !important;
}

.warning {
    color: #ff9100 !important;
    cursor: pointer !important;
    /* online change */
    font-size: 12px !important;
    border: 1px solid #ff9100 !important;
    border-color: #ff9100 !important;
}

.status {
    color: #ff9100 !important;
    background-color: #ffe3be;
}

.bk-warning {
    color: rgb(20, 20, 20) !important;
    cursor: pointer !important;
    border: none !important;
    background-color: #ffb34f !important;
    box-shadow: 2px 3px 5px #4141418e;
}

.activer {
    color: #ffffff !important;
    cursor: pointer !important;
    background-color: #ffb34f !important;
    padding: 7px;
    padding-bottom: 18px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50%;
}

.blue-active {
    color: #252859 !important;
}

.dont {
    overflow: auto !important;
}

.avatar {
    margin-top: 30% !important;
    width: 50% !important;
    height: 50% !important;
}

.avatar-name {
    margin-bottom: 30% !important;
}

button {
    width: 50% !important;
    align-items: center !important;
    background-color: wheat;
    border: none !important;
    padding: 2% !important;
}

.blue-light {
    color: #252859;
}

.bg-whiter {
    background-color: rgb(255, 255, 255) !important;
    /* box-shadow: 1px 2px 8px rgb(191, 191, 191); */
}

.bg-red {
    background-color: rgba(221, 153, 153, 0.153);
}

.PhoneInputCountryIcon {
    width: 12%;
    height: 12%;
    padding: 2%;
}

.bolder {
    font-weight: 700 !important;
}

.font-lighter {
    font-weight: 150 !important;
}

.TabContent {
    background-color: rgba(255, 255, 255, 0.85);
}

.wheat {
    background-color: wheat !important;
}

.flexName p {
    padding: 0 !important;
    margin-bottom: 0 !important;
    margin-top: 5px !important;
}

.bottom-nav {
    z-index: 1;
    bottom: 0%;
    padding-bottom: 15px;
    position: fixed;
}

.p-bar {
    padding: 0% !important;
}

.progress {
    padding: 0% !important;
}

.alert {
    top: 80%;
    position: fixed;
}

input[type='radio']:checked:after {
    width: 13px;
    height: 13px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #f7a335;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #ffffff;
    display: none !important;
}

.message {
    z-index: 1;
    top: 10%;
}


/* .form-check-input:checked {
    background-color: #ff8c00 !important;
    border-color: #ff9d00dd !important;
    font-size: medium !important;
}

.form-control:focus {
    color: #ff8c00 !important;
    background-color: #fff !important;
    border-color: #ffbd716f !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.25rem rgba(253, 149, 13, 0.25) !important;
    font-size: medium !important;
} */

.logo {
    width: 20% !important;
    height: 20% !important;
}


/* input:-internal-autofill-selected {
    appearance: menulist-button !important;
    background-image: none !important;
    background-color: -internal-light-dark(rgb(232, 240, 254), rgba(126, 97, 70, 0.4)) !important;
    color: fieldtext !important;
    font-size: medium !important;
} */