@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap');
body {
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
    font-family: 'Poppins', sans-serif !important;
    /* overflow: hidden !important; */
}


/* online change */

p,
h5,
h6,
span,input {
    font-size: 12px !important;
}

h4 {
    font-size: 18px !important;
}

::-webkit-input-placeholder {
    font-size: 12px !important;
}

button {
    font-size: 12px !important;
}

.img-head {
    height: 40px;
    width: 40px;
}

.img-back {
    height: 200px;
    width: 200px;
}

::-ms-check label {
    font-size: 12px !important;
}

::-ms-check {
    font-size: 12px !important;
}

:focus {
    font-size: 12px !important;
}

:focus::after {
    font-size: 12px !important;
}

.form-control:focus {
    background-color: #ffb85c12 !important;
    border-color: #ffb85cac !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #ffb85c43 !important;
}
.form-check {
    font-size: 12px !important;
}
.form-select {
    font-size: 12px !important;
}
select {
    font-size: 12px !important;
}
.form-select:focus {
    background-color: #ffb85c12 !important;
    border-color: #ffb85cac !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #ffb85c43 !important;
}
.form-check-input:checked {
    background-color: #ffb85cac !important;
    border-color: #ffb85cac !important;
    box-shadow: 0 0 0 0.25rem #ffb85c43 !important;
}
input:-internal-autofill-selected {
    background-color: none !important;
}
/* code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */